<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hhn.aib3.aufg3.gruppe11">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name=".authentication.ConfigAccountActivity"
            android:label="@string/title_activity_configure_account"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".game.gui.activities.ConfigGameActivity"
            android:label="@string/title_activity_configure_game"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".game.gui.activities.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".game.gui.activities.PlacementActivity"
            android:label="@string/title_activity_placement"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".lobby.LobbyActivity"
            android:label="@string/title_activity_lobby"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".authentication.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>

        <service android:name=".rest.RestService" />

        <service
            android:name=".utility.UpdateService"
            android:enabled="true">
        </service>

    </application>

</manifest>